*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Fira Sans';
}
html{
    scroll-behavior: smooth;
}
body{
    display: flex;
    flex-direction: column;
}
:root{
    --dark-bg: #252525;
    --light-bg: #f5f1e1;
    --blue-bg: #3b82f6;
    --br-sm: 5px;
    --br-md: 8px;
    --pd-sm: 5px;
    --pd-md: 10px;
    --pd-lg: 20px;
    --mg-sm: 5px;
    --mg-md: 10px;
    --mg-lg: 20px;
    --text-light-color: #eaeaea;
    --text-dark-color: #252525;
    --transition: all .4s;
}
.flex{
    display: flex;
    justify-content: center;
    align-items: center;
}
.column{
    display: flex;
    flex-direction: column;
}