header{
    flex: 1;
    width: 100%;
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: var(--dark-bg);
    position: fixed;
    z-index: 4;
}
main{
    flex: 1;
    display: flex;
    flex-direction: column;
    background-color: var(--light-bg);
}
#app{
    flex: 1;
    display: flex;
    background-color: var(--light-bg);
}
#notes{
    flex: 1;
}