.notes-wrapper{
    width: 100%;
    background-color: var(--light-bg);
    flex-wrap: wrap;
}
.div_notes{
    width: 350px;
    min-height: 87px;
    padding: var(--pd-lg);
    margin: var(--mg-lg);
    border-radius: var(--br-md);
    background-color: var(--dark-bg);
    box-shadow: 0 8px 16px var(--dark-bg);
    position: relative;
    transition: all .4s;
    text-align: center;
}
.title_note{
    font-family: 'Inter';
    width: 300px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    color: var(--text-light-color);
    padding: var(--pd-md);
    margin-left: -20px;
    font-size: 1.25rem;
    position: absolute;
    left: 30px;
    top: 5px;
    font-weight: bold;
}
.subtitle_note{
    font-family: 'Inter';
    font-size: 10px;
    color: #eee;
    opacity: 0.3;
    font-weight: 500;
    position: absolute;
    left: 35px;
    top: 38px;
    transition: all .2s;
}
.description_note{
    font-size: 1rem;
    font-weight: 500;
    width: 100%;
    height: fit-content;
    color: var(--text-light-color);
    position: absolute;
    top: 50px;
    display: none;
    padding: var(--pd-sm);
    text-align: center;
    overflow: hidden;   
    text-overflow: ellipsis;
}
.button{
    border: none;
    border-radius: var(--br-md);
    outline: none;
}
.div_notes_button{
    width: 40px;
    height: 40px;
    border: none;
    border-radius: var(--br-md);
    margin: var(--mg-sm);
}
.btn_checked{
    background-color: #6e6;
}
.btn_update{
    background-color: var(--blue-bg);
}
.btn_delete{
    background-color: #f66;
}
.div_buttons_div{
    background-color: transparent;
    border: none;
    position: absolute;
    right: -10px;
    top: 2px;
    padding: var(--pd-md);
}
.div_buttons{
    background-color: var(--dark-bg);
    width: min-content;
    display: none;
    border-radius: var(--br-md);
    align-items: center;
    justify-content: space-between;
    position: absolute;
    right: 10px;
    bottom: 10px;
    padding: 5px;
}
.buttons_div button{
    margin: var(--mg-sm);
}
.remember_text{
    font-size: .6rem;
    color: #eee;
    opacity: 0.3;
    font-family: 'Inter';
    position: absolute;
    right: 10px;
    bottom: 5px;
}
.input_note{
    display: none;
    width: 20px;
    transform: scale(1.20);     
    margin: var(--mg-lg);
}
.closed{
    min-height: 150px;
    height: max-content;
}
.transparent{
    opacity: 0;
}
.rt_left{
    right: 280px;
}
.appear{
    display: flex;
}