.notes-wrapper{
    width: 100%;
    background-color: var(--light-bg);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    overflow-y: scroll;
}
.div_notes{
    padding: 10px;
    background-color: var(--dark-bg);
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    width: 90dvw;
    height: 20dvh;
    border-radius: var(--br-md);
    box-shadow: 0 8px 16px var(--dark-bg);
    margin-bottom: 30px;
    position: relative;
}
.div_notes > h2{
    color: var(--text-light-color);
    padding: var(--pd-md);
}
.btn_checked{
    width: 40px;
    height: 40px;
    border-radius: var(--br-md);
    border: none;
    background-color: #6e6;
    position: absolute;
    bottom: 25px;
    right: 150px;
}
.btn_update{
    width: 40px;
    height: 40px;
    border-radius: var(--br-md);
    border: none;
    background-color: var(--blue-bg);
    position: absolute;
    bottom: 25px;
    right: 90px;
}
.btn_delete{
    width: 40px;
    height: 40px;
    border-radius: 8px;
    border: none;
    background-color: #f66;
    position: absolute;
    bottom: 25px;
    right: 28px;
}