@import url(./base.css);
@import url(./layout.css);
.header_title{
    font-size: 1.8rem ;
    font-style: oblique;
    letter-spacing: 1.6px;
    border-bottom: 1px double #eaeaea;
    position: relative;
    top: 4px;
}
.header_ul{
    list-style: none;
    display: flex;
    align-items: center;
}
header button {
    background-color: transparent;
    padding: var(--pd-sm);
    border: none;
}
header > span{
    font-size: 1.5rem;
    font-weight: 900;
    color: var(--text-light-color);
    font-style: oblique;
    letter-spacing: 1.8px;
}

.main_container{
    width: 100%;
    height: 90dvh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.main_title{
    font-size: 3.5rem;
    font-style: italic;
    color: var(--text-dark-color);
    font-weight: 700;
    margin: var(--mg-md);
}
.main_text_container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: fit-content;
}
.main_description{
    font-size: .9rem;
    font-style: italic;
    text-align: center;
}
.main_description > span{
    background-color: #252525;
    color: #6e6;
    padding: var(--pd-md);
    border-radius: var(--br-md);
    font-weight: 800;
}
.main_button{
    width: 200px;
    padding: 10px 5px;
    border: none;
    border-radius: var(--br-md);
    background-color: var(--blue-bg);
    color: var(--text-dark-color);
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    transition: var(--transition);
    top: 60px;
}
button:hover{
    transform: scale(1.05);
}
button:active{
    transform: scale(0.95);
}
.main_button span {
    color: var(--text-light-color);
    font-size: 1.2rem;
}
.svg{
    opacity: 0.3;
    width: 32px;
    height: 32px;
    position: relative;
    right: 50px;
    top: 200px;
}
.svg1{
    top: 120px;
    left: -1100px;
}
svg{
    transition: var(--transition)
}


.app_wrapper{
    width: 100dvw;
    height: 100dvh;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: var(--pd-md);
}
form{
    display: flex;
    width: 90%;
    flex-direction: column;
    justify-content: center;
    background-color: var(--dark-bg);
    box-shadow: 0 10px 20px rgba(0,0,0, .8);
    padding: var(--pd-lg);
    border-radius: var(--br-md);
}
form div{
    margin-bottom: 20px;
}
h4{
    font-size: .6rem;
    color: var(--text-light-color);
    font-weight: 500;
    margin: var(--mg-sm);
}
textarea{
    width: 100%;
    border: 2px solid #ccc;
    resize: none;
    border-radius: var(--br-md);
}
#div_checkbox{
    width: 100%;
    display: flex;
    align-items: center;
    margin-top: 10px;
    margin-left: -6px;
}
#div_checkbox > input{
    width: min-content;
    margin: var(--mg-md);
}
h2{
    font-size: 2rem;
    color: var(--text-light-color);
    border-bottom: 1px solid #333;
    margin-bottom: var(--mg-md);
}
input{
    width: 100%;
    padding: var(--pd-sm);
    border-radius: var(--br-sm);
    border: 2px solid #bbb;
    position: relative;
}
input[type="checkbox"]{
    transform: scale(1.20);     
    margin: var(--mg-lg);
}
form > button{
    font-size: 1rem;
    font-weight: 600;
    letter-spacing: 1.2px;
    background-color: var(--blue-bg);
    border: none;
    padding: var(--pd-sm) var(--pd-md);
    border-radius: var(--br-sm);
    color: var(--text-light-color);
    width: 60%;
    position: relative;
    left: 50px;
    transition: var(--transition);
    margin: var(--mg-md);
}
form > button:hover{
    filter: brightness(1.1);

}
input:focus, textarea:focus{
    outline: none;
    border: 2px solid var(--blue-bg);
}

.notes-wrapper{
    width: 100%;
    height: fit-content;
    background-color: var(--light-bg);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.div_notes{
    padding: 10px;
    background-color: var(--dark-bg);
    display: flex;
    flex-direction: column;
    width: 90dvw;
    height: 80dvh;
    border-radius: var(--br-md);
    box-shadow: 0 8px 16px var(--dark-bg);
    margin-bottom: 30px;
    position: relative;
}
.div_notes > h2{
    color: var(--text-light-color);
    padding: var(--pd-md);
}
.btn_checked{
    width: 40px;
    height: 40px;
    border-radius: var(--br-md);
    border: none;
    background-color: #6e6;
    position: absolute;
    bottom: 25px;
    right: 150px;
}
.btn_update{
    width: 40px;
    height: 40px;
    border-radius: var(--br-md);
    border: none;
    background-color: var(--blue-bg);
    position: absolute;
    bottom: 25px;
    right: 90px;
}
.btn_delete{
    width: 40px;
    height: 40px;
    border-radius: 8px;
    border: none;
    background-color: #f66;
    position: absolute;
    bottom: 25px;
    right: 28px;
}