.welcome_section{
    flex: 1;
    display: flex;
    flex-direction: column;
}
.welcome_container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100dvh;
    background-color: var(--light-bg);
}
.welcome_text_container{
    display: flex;
    font-style: italic;
    color: var(--text-dark-color);
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: fit-content;
    text-align: center;
}
.welcome_title{
    font-size: 3.5rem;
    font-weight: 700;
    margin: var(--mg-md);
}
.welcome_description{
    font-size: .9rem;
}
.welcome_button{
    width: 200px;
    padding: 10px 5px;
    border: none;
    border-radius: var(--br-md);
    background-color: var(--blue-bg);
    color: var(--text-dark-color);
    text-align: center;
    position: relative;
    transition: var(--transition);
    top: 60px;
    color: var(--text-light-color);
    font-size: 1.2rem;
}
.welcome_button:hover{
    transform: scale(1.05);
    box-shadow: 0 0 15px 3px #0005;
}
.welcome_button:active{
    transform: scale(0.95);
}
    