*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Fira Sans';
}
html{
    scroll-behavior: smooth;
}
body{
    background-color: #252525;
    display: flex;
    flex-direction: column;
}
header{
    flex: 1;
    width: 100%;
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #252525;
    position: fixed;
    top: 0;
    z-index: 4;
}
.header_title{
    font-size: 1.8rem ;
    font-style: oblique;
    letter-spacing: 1.6px;
    border-bottom: 1px double #eaeaea;
    position: relative;
    top: 4px;
}
.header_ul{
    list-style: none;
    display: flex;
    align-items: center;
}
header button {
    background-color: transparent;
    padding: 5px;
    border: none;
}
header > span{
    font-size: 1.5rem;
    font-family: 'Fira Sans';
    font-weight: 900;
    color: #eaeaea;
    font-style: oblique;
    letter-spacing: 1.8px;
}
main{
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    background-color: #f5f1e1;
}
.main_container{
    width: 100%;
    height: 90dvh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.main_title{
    font-size: 3.5rem;
    font-style: italic;
    color: #252525;
    font-weight: 700;
    font-family: 'Fira Sans';
    margin: 10px;
}
.main_text_container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: fit-content;
}
.main_description{
    font-size: .9rem;
    font-family: 'Fira Sans';
    font-style: italic;
    text-align: center;
}
.main_description > span{
    background-color: #252525;
    color: #6e6;
    padding: 8px;
    border-radius: 8px;
    font-weight: 800;
    font-family: 'Fira Sans';
}
.main_button{
    width: 200px;
    padding: 10px 5px;
    border: none;
    border-radius: 8px;
    background-color: #3b82f6;
    color: #252525;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    transition: all .4s;
    top: 60px;
}
button:hover{
    transform: scale(1.05);
}
button:active{
    transform: scale(0.95);
}
.main_button span {
    color: #f5f1e1;
    font-size: 1.2rem;
}
.svg{
    opacity: 0.3;
    width: 32px;
    height: 32px;
    position: relative;
    right: 50px;
    top: 200px;
}
.svg1{
    top: 120px;
    left: -1100px;
}
svg{
    transition: all .3s
}
svg:hover{
    fill: #3b82f6;
}
#app{
    flex: 1;
    display: flex;
    background-color: #f5f1e1;
}
.app_wrapper{
    width: 100dvw;
    height: 100dvh;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
}
form{
    display: flex;
    width: 90%;
    flex-direction: column;
    justify-content: center;
    background-color: #252525;
    box-shadow: 0 10px 20px rgba(0,0,0, .8);
    padding: 20px;
    border-radius: 8px;
}
form div{
    margin-bottom: 20px;
}
h4{
    font-size: .6rem;
    color: #eaeaea;
    font-weight: 500;
    margin: 5px;
}
textarea{
    width: 100%;
    border: 2px solid #ccc;
    resize: none;
    border-radius: 8px;
}
#div_checkbox{
    width: 100%;
    display: flex;
    align-items: center;
    margin-top: 10px;
    margin-left: -6px;
}
#div_checkbox > input{
    width: min-content;
    margin: 10px;
}
h2{
    font-size: 2rem;
    color: #eaeaea;
    border-bottom: 1px solid #333;
    margin-bottom: 10px;
}
input{
    width: 100%;
    padding: 6px;
    border-radius: 5px;
    border: 2px solid #bbb;
    position: relative;
}
input[type="checkbox"]{
    transform: scale(1.20);     
    margin: 15px;
}
form > button{
    font-size: 1rem;
    font-weight: 600;
    letter-spacing: 1.2px;
    background-color: #3b82f6;
    border: none;
    padding: 5px 12px;
    border-radius: 8px;
    color: #eaeaea;
    width: 60%;
    position: relative;
    left: 50px;
    transition: all .4s;
    margin: 10px;
}
form > button:hover{
    filter: brightness(1.1);

}
input:focus, textarea:focus{
    outline: none;
    border: 2px solid #3b82f6;
}
#notes{
    flex: 1;
}
.notes-wrapper{
    width: 100%;
    height: fit-content;
    background-color: #f5f1e1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.div_notes{
    padding: 10px;
    background-color: #252525;
    display: flex;
    flex-direction: column;
    width: 90dvw;
    height: 80dvh;
    border-radius: 8px;
    box-shadow: 0 8px 16px #252525;
    margin-bottom: 30px;
    position: relative;
}
.div_notes > h2{
    color: #eaeaea;
    padding: 10px;
}
.btn_checked{
    width: 40px;
    height: 40px;
    border-radius: 8px;
    border: none;
    background-color: #6e6;
    position: absolute;
    bottom: 25px;
    right: 150px;
}
.btn_update{
     width: 40px;
    height: 40px;
    border-radius: 8px;
    border: none;
    background-color: #3b82f6;
    position: absolute;
    bottom: 25px;
    right: 90px;
}
.btn_delete{
     width: 40px;
    height: 40px;
    border-radius: 8px;
    border: none;
    background-color: #f66;
    position: absolute;
    bottom: 25px;
    right: 28px;
}