*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html{
    scroll-behavior: smooth;
}
body{
    background-color: #252525;
    display: flex;
    flex-direction: column;
    overflow-y: hidden;
}
form{
    background-color: transparent;
    width: 40dvw;
    height: 40dvh;
}
header{
    flex: 1;
    padding: 20px;
}
header > span{
    font-size: 1.5rem;
    font-family: 'Fira Sans';
    font-weight: 900;
    color: #22c55e;
    font-style: oblique;
    letter-spacing: 1.8px;
}
main{
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f5f1e1;
}
.main_wrapper{
    width: 100dvw;
    height: 100dvh;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.main_container{
    padding: 20px;
    border-radius: 8px;
    background-color: transparent;
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    flex-direction: column;
    height: 50dvh;
    width: fit-content;
    transition: all .3s;
    position: relative;
    top: -100px;
}

.main_title{
    font-size: 10rem;
    font-style: italic;
    color: #252525;
    font-weight: 700;
    font-family: 'Fira Sans';
}
.main_title > span{
    color: #6e6;
}
h3{
    font-size: .8rem;
    color: #252525;
    position: relative;
    top: -40px;
    left: 360px;
    border-bottom: 1px solid #000;
    width: fit-content;
    text-align: center;
}

.main_description{
    font-size: 1.3rem;
    font-family: 'Fira Sans';
    font-style: italic;
}
.main_description > span{
    background-color: #252525;
    color: #6e6;
    padding: 8px;
    border-radius: 8px;
    font-weight: 800;
    font-family: 'Fira Sans';
}
.main_button{
    width: 200px;
    padding: 10px 5px;
    border: none;
    border-radius: 8px;
    background-color: #3b82f6;
    color: #252525;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    top: 60px;
}
.main_button span {
    color: #f5f1e1;
    font-size: 1.2rem;
}

.main_video{
    width: 35dvw;
    height: 35dvh;
}
.svg{
    opacity: 0.3;
    width: 32px;
    height: 32px;
    position: relative;
    right: 50px;
    top: 200px;
}
.svg1{
    top: 120px;
    left: -1100px;
}
#app{
    flex: 1;
    display: flex;
}
.app_wrapper{
    width: 100dvw;
    height: 100dvh;
    display: flex;
    justify-content: center;
    align-items: center;
}
@media (max-width: 500px) {
    .main_container{
        justify-content: center;
    }
    .main_title{
        font-size: 3rem;
    }
    .main_description{
        font-size: 1rem;
    }
    .main_description > span{
        font-size: 1rem;
    }
}